@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

header {
    height: 84px;
    left: 0px;
    right: 0px;
    top: 0px;
    background: #ec6056;
}

body {
    background: #eaeff3;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
}

h1.big-title {
    padding-bottom: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    color: #2e3942;
}

h3.small-title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    color: #2e3942;
}

h4.statuses {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    color: #414f58;
}

div.brand {
    position: absolute;
    width: 350px;
    height: 60px;
    left: calc(50% - 350px / 2);
    top: 3px;
}

.group19 {
    position: relative;
    width: 343px;
    height: 44px;
    left: 4px;
    top: 8px;
}

.icon {
    position: relative;
    width: 44px;
    height: 44px;
    left: 4px;
    top: 8px;
}

.logomark {
    position: absolute;
    width: 275px;
    height: 34px;
    left: 72px;
    top: 13px;
    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}
a:hover {
    text-decoration: none;
    color: #ffffff;
}

div.product-list-body {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

div.item-box-container {
    flex: auto;
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
}

div.item-box-description-container {
    flex: auto;
    background: #ffffff;
    border-radius: 8px;
    margin: 16px;
}

div.io-history-day {
    display: flex;
    line-height: 10px;
    align-content: center;
}

dd.quantity-available {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #576975;
}

dd.io-history {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #576975;
    line-height: 40px;
    padding-top: 24px;
}

p.io-date {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #2e3942;
    margin-left: 1px;
    margin-right: 4px;
}

p.io-input {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #168938;
    margin-left: 4px;
    margin-right: 2px;
    width: 40px;
}

p.io-output {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    color: #c22929;
    margin-left: 2px;
    margin-right: 1px;
    width: 40px;
}

div.value-box {
    display: flex;
}

dt.quantity-available {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;

    color: #2e3942;
    line-height: 40px;
}

div.quantity-box {
    margin: 16px;
}

div.item-box-body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

div.item-box-description {
    padding-top: 12px;
    padding-bottom: 6px;
}

div.product-list-header {
    display: flex;
    justify-content: space-around;
    padding-top: 28px;
    align-items: center;
}

div.product-description-header {
    padding-top: 48px;
    padding-bottom: 20px;
    padding-left: 28px;
}

div.inventory-status-container {
    width: 180px;
    height: 112px;
}

div.code {
    display: flex;
}

div.category {
    display: flex;
}

div.description {
    display: flex;
}

div.product-description-body {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: left;
}

div.quantity-white-box {
    flex: 0 0 210px;
    height: 256px;
    left: 925px;
    top: 228px;

    margin-top: 16px;
    margin-left: 16px;

    background: #ffffff;
    border-radius: 8px;
}

div.quantity-box {
}

dt.name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    color: #576975;
}

dt.code {
    float: left;
    width: 44px;
    height: 19px;
    left: 16px;
    bottom: 45px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #2e3942;
}

dt.category {
    width: 72px;
    left: 16px;

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    color: #2e3942;
}

dt.description {
    width: 89px;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;

    color: #2e3942;
}

dd.name {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #2e3942;
}

dd.code {
    float: left;
    width: 98px;
    height: 19px;
    left: 16px;
    bottom: 45px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2e3942;
}

dd.category {
    width: 146px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #2e3942;
}

dd.description {
    font-family: Lato;
    font-size: 16px;
    line-height: normal;
    color: #8297a7;
}

div.detail-buttom {
    border: 0;
    margin-bottom: 16px;
    margin-right: 16px;
    background: #007b7d;
    border-radius: 4px;
    width: 122px;
    height: 40px;
    right: 16px;
    bottom: 16px;
}

p.detail-buttom {
    font-family: Lato;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 250%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
}

dl.item-box-header {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

dl.item-box-body {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 0;
}

p.separator {
    height: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    border: 1px solid #eaeff3;
}
