@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* html,
/* body, */
/* #root */
/* html { */
/* height: 80%; */

header {
    /* top-bar */

    position: absolute;
    height: 84px;
    left: 0px;
    right: 0px;
    top: 0px;

    /* Coral / Coral 40 --> Default */

    background: #ec6056;
}

body {
    background: #eaeff3;
    -webkit-font-smoothing: antialiased;
}

h1.product-list-title {
    /* position: absolute; */
    /* width: 215px;
    height: 48px;
    
    top: 132px; */

    /* H1 - Big title */
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    /* identical to box height, or 48px */

    /* display: flex; */
    /* align-items: center; */

    /* Mineral Dark / Mineral 80 */

    color: #2e3942;
}

h3.small-title {
    /* H3 - Small title */

    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 120%;
    /* identical to box height, or 24px */

    /* Mineral Dark / Mineral 80 */

    color: #2e3942;
}

h4.statuses {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 120%;
    /* or 19px */

    /* Mineral Dark / Mineral 70 */

    color: #414f58;
}
