body {
    background: #E8EFF3;
    font-family: Lato;
}

/* Links */

a.title {
    font-family: Bungee;
    color: white;
    font-size: 28px;
}

a.title:hover,
a.title:focus,
a.title:visited {
    text-decoration: none;
}

a.title, 
a.logo {
    margin: 12px;
}

/* Typography */

// p {
//     margin: 4px 0;
// }

h1, 
h2, 
h3, 
p.regular {
    color: #2E3942;
    // white-space: nowrap;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

dt {
    color: #576975;
}

h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Header */

.shop-header {
    background: #EC6056;
}

.shop-header-wrapper {
    padding: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layout */

.shop-body-top-wrapper {
    margin-top: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    // background: purple;
    // position: fixed;
}

p.separator {
    border: 1px solid #eaeff3;
    margin: 1rem -1rem;
}

.inventory {
    margin-bottom: 0;
}