p.inventory {
    color: #414F58;
}

.btn,
.btn:hover,
.btn:focus {
    background: #007B7D;
    color: white;
    text-decoration: none;
    display: block;
    white-space: nowrap;
}

.box-inventory-status {
    // height: 112px;
    // width: 254px;
    // padding: 16px;
    background: magenta
}
