#product-detail {

    .available {
        margin-bottom: 0;
        margin-left: 2px;
    }

    .unavailable {
        color: #889BA9;
        margin-bottom: 0;
        margin-left: 2px;
    }

    .io-date {
        color: #2e3942;
    }

    .io-income {
        color: #168938;
    }

    .io-outcome {
        color: #c22929;
    }

    .io-date,
    .io-income,
    .io-outcome {
        margin-bottom: 4px;
    }

    h3.quantity, 
    h3.history {
        color: #576975;
    }

    .wrapper-product-detail {
        align-items: flex-start;
        // border: 10px solid yellow;
    }

    .box-quantity {
        padding: 1rem;
    }

    .io-history-day {
        display: flex;
        justify-content: space-between;
    }

    .box-item-detail {
        background: white;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;
    }

    .regular {
        margin-bottom: 0;
    }

    .description-title {
        display: flex;
        margin-bottom: 0;
    }

    .box-quantity {
        background: white;
        border-radius: 0.5rem;
        padding: 1rem;
        margin-top: 1rem;
    }

    .detail-top-content {
        display: flex;
    }

}