p.inventory {
    color: #414F58;
}

.btn,
.btn:hover,
.btn:focus {
    background: #007B7D;
    color: white;
    text-decoration: none;
}

// .item-box {
//     background: white;
//     margin: 16px 0;
//     padding: 16px;
//     border-radius: 8px;
// }