p.inventory {
    color: #414F58;
}

.btn,
.btn:hover,
.btn:focus {
    background: #007B7D;
    color: white;
    text-decoration: none;
}

.box-inventory{
    height: 112px;
    width: 254px;
    padding: 16px;

    // background: magenta;
    // border: 10px solid black;
}