.logo {
    /* logotype */

    position: absolute;
    width: 275px;
    height: 34px;
    left: 72px;
    top: 13px;

    /* Logotype */

    font-family: Bungee;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 120%;
    /* identical to box height, or 34px */

    display: flex;
    align-items: center;

    /* Mineral Light / White */

    color: #ffffff;
}

a:hover{
    text-decoration: none;
    color: #ffffff;
}