.productlist {
  /* Product List */

  position: absolute;
  width: 215px;
  height: 48px;
  left: 260px;
  top: 132px;

  /* H1 - Big title */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 120%;
  /* identical to box height, or 48px */

  display: flex;
  align-items: center;

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}
