div.product-list-header {
  display: flex;
  justify-content: space-between;
  padding-top: 116px;
//   padding-left: 0%;
  padding-right: 10%;
//   background: #000
}

div.inventory-status-container {
    width: 180px;
    height: 112px;
    // left: 926px;
    // top: 100px;
}

dt.name {
  /* Name: */

  //   position: absolute;
  width: 47px;
  height: 19px;
  left: 16px;
  top: 16px;

  /* p - Strong text */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 60 */

  color: #576975;
}

dt.code {
  /* Code: P-0005 */

  //   position: absolute;
  width: 98px;
  height: 19px;
  left: 16px;
  bottom: 45px;

  /* p - Regular text */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dt.category {
  /* Category: Stationery */

  //   position: absolute;
  width: 146px;
  height: 19px;
  left: 16px;
  bottom: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dd.name {
  /* Magic Rub 1954 Block Eraser */

  //   position: absolute;
  height: 29px;
  left: 16px;
  right: 16px;
  top: 36px;

  /* H2 - Normal or Product title */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dd.code {
  /* Code: P-0005 */

  //   position: absolute;
  width: 98px;
  height: 19px;
  left: 16px;
  bottom: 45px;

  /* p - Regular text */

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dd.category {
  /* Category: Stationery */

  //   position: absolute;
  width: 146px;
  height: 19px;
  left: 16px;
  bottom: 17px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

div.detail-buttom {
  // width: 100%;
  position: relative;

  border: 0;
  margin-top: 30px;
  background: #007b7d;
  border-radius: 4px;

  width: 122px;
  height: 40px;
  right: 16px;
  bottom: 16px;
}

p.detail-buttom {
  /* See details */

  position: absolute;
  height: 19px;
  left: 12px;
  right: 12px;

  top: 200%;
  left: 150%;

  margin: -70px 0 0 -170px;
  //   top: 100%;
  //   top: 50%;
  //   -ms-transform: translateY(-50%);
  //   transform: translateY(-50%);

  /* Normal Button */

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 120%;
  /* or 19px */

  text-align: center;
  text-transform: capitalize;

  /* Mineral Light / White */

  color: #ffffff;
}

// #productlist {
//     flex: 1;
// }

// productlist ul {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     gap: 20px;
//     list-style: none;
// }
