div.product-list-body {
  display: flex;
  flex-wrap: wrap;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 28px;
  list-style: none;
  justify-content: center;
}

div.item-box {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;

  background: #ffffff;
  border-radius: 8px;

  margin:16px;
}

div.item-box-body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  //   padding-bottom: -100px;
  //   padding-top: 10px;
}

div.item-box-description {
  padding-top: 12px;
  padding-bottom: 6px;
}

div.product-list-header {
  display: flex;
  justify-content: space-around;
  padding-top: 28px;
  align-items: center;
}

div.product-description-header {
  padding-top: 48px;
  padding-bottom: 20px;
  padding-left: 28px;
}

div.inventory-status-container {
  width: 180px;
  height: 112px;
  // left: 926px;
  // top: 100px;
}

div.code {
  display: flex;
}

div.category {
  display: flex;
}

div.description {
  display: flex;
}

div.product-description-body {
    display: flex;
    // grid-template-columns: repeat(2, 1fr);
    gap: 28px;
    list-style: none;
}

div.quantity-white-box {
  width: 255px;
  height: 256px;
  left: 925px;
  top: 228px;

  background: #ffffff;
  border-radius: 8px;
}

div.quantity-box {
}

dt.name {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  color: #576975;
}

dt.code {
  /* Code: P-0005 */

  //   position: absolute;
  float: left;

  width: 44px;
  height: 19px;
  left: 16px;
  bottom: 45px;

  /* p - Regular text */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  //   line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dt.category {
  width: 72px;
  left: 16px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;

  color: #2e3942;
}

dt.description {
  width: 89px;
  //   left: 16px;

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;

  color: #2e3942;
}

dd.name {
  /* Magic Rub 1954 Block Eraser */

  //   position: absolute;
  //   height: 29px;
  //   left: 16px;
  //   right: 16px;
  //   top: 36px;

  /* H2 - Normal or Product title */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  //   line-height: 120%;
  /* identical to box height, or 29px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dd.code {
  /* Code: P-0005 */

  //   position: absolute;
  float: left;

  width: 98px;
  height: 19px;
  left: 16px;
  bottom: 45px;

  /* p - Regular text */

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  //   line-height: 120%;
  /* or 19px */

  /* Mineral Dark / Mineral 80 */

  color: #2e3942;
}

dd.category {
  /* Category: Stationery */

  width: 146px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  color: #2e3942;
}

dd.description {
  width: 400px;

  font-family: Lato;
  //   font-style: normal;
  //   font-weight: normal;
  font-size: 16px;
  line-height: normal;

  color: #8297a7;
}

div.detail-buttom {
  // width: 100%;
  //   position: relative;

  border: 0;
  margin-bottom: 16px;
  margin-right: 16px;
  background: #007b7d;
  border-radius: 4px;

  width: 122px;
  height: 40px;
  right: 16px;
  bottom: 16px;
}

p.detail-buttom {
  /* Normal Button */

  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 250%;
  /* or 19px */

  text-align: center;
  text-transform: capitalize;

  /* Mineral Light / White */

  color: #ffffff;
}

dl.item-box-header {
  padding-top: 16px;
  padding-left: 16px;
  //   padding-bottom: 16px;
  padding-right: 16px;
}

dl.item-box-body {
  // padding-top: 16px;
  padding-left: 16px;
  //   padding-bottom: 16px;
  padding-right: 16px;
  margin-bottom: 0;
}

p.separator {
  height: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  /* Mineral Light / Mineral 20 */

  width: 100%;

  border: 1px solid #eaeff3;
}
